.header {
  border: 1px solid black;
  height: 44px;
  display: flex;
  align-items: center;
  padding: 15px;
  justify-content: space-between;
}
.right,
.left {
  display: flex;
  gap: 3px;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 22px;
  gap: 5px;
}
.logo_nd_part {
  color: var(--myBlue);
}
